
/*Please note particular parts in the redling have been over calculated and restricted certian movement. This means in appearance it is the same but the pixel values may have had to be changed ever so slightly. for the purposes of the website screen visability structure*/

* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}
.ln{ 
    border: 1px solid black;}

header{
    margin: 0 0 0 0;
    width:100%;
    height:105px;
    padding:0 0 30px 0;
    position: relative;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 16%);
    display: flex;
    align-items:flex-end;
    flex-direction: column;
}

.TopBar{
Width:100%;
position:absolute;
height:25px;
background-color:#2f2f2f;
box-shadow: 0 3px 14px rgba(0, 0, 0, 63%);
z-index: 1;
align-self:flex-start;
}
nav {
    margin:0 0 0 0;
    padding:20px 140px 0 0;
    width:100%;
    justify-content: left;
    align-items:flex-end;
    display:flex;
}
img{
    width:140px;
  cursor: pointer;
  clip-path: inset(0 0 9% 0);
  margin-right: auto;
}

.il{
    text-decoration:none;
    
}
.UxNavBar {
 /*   border: 1px solid black;*/
    height:40px;
    transform: translate(0,10px);
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    Font-size: 16px;
    padding: 0 12px 0px 0;
    cursor: pointer;
}

.UxNavBar:hover{
    background-image: url(../Images/ActivatedUnderline.png);
    background-clip:padding-box;
    background-position:bottom center;
    background-repeat: no-repeat;
}

.Industrialarrow {
    margin:0;
    padding: 0 0 14.5px 0;
    width:20px;
    cursor: pointer;

}
.CaseStudies{
    margin: 4% 0 0 8.5%;
}
main {
    float:left;
    max-width: 35%;
   /* border:1px solid black;*/
    font-family: 'Montserrat', sans-serif;
    Font-size: 14px;
    flex-wrap:wrap;
}
h2{
    font-family: 'Montserrat', sans-serif;
    Font-size: 2.5rem;
    font-weight:bold;
    letter-spacing: 0.26px;
    line-height: 30px;
    color: #4F758C;
    
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
h4 { 
    font-family: 'Montserrat', sans-serif;
    Font-size: 1.625rem;
    font-weight:bold;
    color: #4F758C; 
    padding: 62px 0 8.1px 0 
}

.skill{
    padding: 16px 16px 60px 0;
    width: 11.5%;
}

button{
    display:block;
    border:none;
    Color: #fafafa;
    background-color:#5f6973;
    Padding: 5.5px 14px;
    border-radius:18px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #fafafa;
    color:#5f6973;
    border: 2px solid #6D96A6;
    transition:ease-in-out 300ms 300ms
}
aside {
    width:45%;
    margin-right: 8rem;
    float:right;
   /*border: 1px solid black; */
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);

}
.nested{
    display:grid;
    grid-template-columns: 90px 90px;
    grid-template-rows: 29px;
    grid-gap: 16px;
    grid-column: 1/4;
    grid-row: 1/4;

    justify-content: right;
}
.pdf{
    height: auto;
    margin:0;
    align-items:flex-end;
    
}
.Coverimage{
    width:110%;
    position:block;
   align-items:flex-end;
   clip-path: inset(0% 4.5% 0% 0%);
   margin: 10% -10% 0 0;
   grid-column: 1/4;
}



/*MyWorkPage*/

.CaseStudy
{
    Padding:30px 0px 0 0px;
    margin: 0;
    width:80rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 16px;
}

.Project {
    margin: 0 0 0 0;
    width:100%;
    cursor: pointer;
    display:block;
    img-opacity: 100%;
    background-color: transparent;
}

.Project:hover {
    margin: 0 0 0 0;
    width:100%;
    cursor: pointer;
    display:block;
    opacity: 0%;
    background-color: #394A59;
}



.footer {
    /* border: 1px solid black; */
     width: 100%;
    max-height:6rem;
     padding: 0px 0 0px 0;
     display:flex;
     flex-direction: column;
 }
 .socialmedia {
     width: 100%;
     position:relative;
     align-self: flex-end;
     
 }
 hr {border:none;
     border-bottom: 1px solid #6D96A6;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
     }
 
 .sociallinks {
     float:right;
     width:2%;
     position:inline;
     padding: 10px 14px 7px 0; 
     cursor: pointer;
     align-items: baseline;
 }
 
 .smalltext {
     font-family: 'SFProText', sans-serif;
     Font-size: 10px;
     font-weight:normal;
     letter-spacing: 0.26px;
     margin: 1% 0 0 8.5%;
 }
 #update{
     font-family: 'SFProText', sans-serif;
     Font-size: 10px;
     font-weight:normal;
     letter-spacing: 0.26px;
     line-height:30px; 
     margin: 0 0 0 11%;
 }